.sidebar_row {
    display: flex;
    align-items: center;
    padding: 12px 10px;
    cursor: pointer;
}

.selected {
    background: #e3e3e3;

    .sidebar_row__icon {
        color: red;
    }

    .sidebar_row__title {
        font-weight: 700;
    }
}

.sidebar_row:hover {
    background: #f2f2f2;
}

.sidebar_row__icon {
    color: #606060;
    width: 20px !important;
    height: 20px !important;
    margin-left: 10px;
    margin-right: 25px;
}
.sidebar_row__title {
    flex: 1;
    font-size: 14px;
    font-weight: 500;
}
