.l-search_page {
    display: flex;
    flex-direction: column;
    width: 65%;
}

@media only screen and (max-width: 1000px) {
    .l-search_page {
        width: 100%;
    }
}

.l-search_page__l-filter {
    display: flex;
    align-items: center;
    color: var(--icon-color-primary);
    width: 0;
    cursor: pointer;
}

.l-search_page__icon {
    height: 24px !important;
    width: 24px !important;
}

.l-search_page__l-filter > h3 {
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 10px;
    font-weight: 600;
}

.l-search_page > hr {
    margin: 10px 0;
    margin-bottom: 15px;
    background-color: lightgray;
    height: 1px;
    border: 0;
}
