.l-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    padding-left: 5px;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 100;
}
