.l-recommended_videos {
    background: #f9f9f9;
    flex: 1;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
}

.l-recommended_videos__title {
    line-height: 2.4rem;
    font-size: 22px;
    margin-bottom: 10px;
}

.l-recommended_videos__l-videos {
    display: flex;
    flex-wrap: wrap;
}
