.l-app {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

@media only screen and (max-width: 700px) {
    .l-app {
        grid-template-columns: 1fr 2fr;
    }
}

.l-app__sidebar {
    display: flex;
}

.l-app__content {
    display: flex;
    background: #f9f9f9;
    padding: 40px 30px;
}
