.l-app {
    /* display: grid;
    grid-template-columns: 1fr 5fr; */
    display: flex;
}

@media only screen and (max-width: 700px) {
    .l-app {
        grid-template-columns: 1fr 2fr;
    }
}

.l-app__sidebar {
    display: flex;
    flex: 0.17;
}

.l-app__sidebar-hidden {
    /* flex: 0; */
}

@media only screen and (max-width: 700px) {
    .l-app__sidebar-hidden {
        display: none;
    }
}

.l-app__content {
    display: flex;
    background: #f9f9f9;
    padding: 40px 30px;
    flex: 1;
}
